apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: marabet-ai-staging-hpa
  namespace: marabet-staging
spec:
  maxReplicas: 5
  metrics:
  - resource:
      name: cpu
      target:
        averageUtilization: 70
        type: Utilization
    type: Resource
  - resource:
      name: memory
      target:
        averageUtilization: 80
        type: Utilization
    type: Resource
  minReplicas: 1
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: marabet-ai-staging
